html {
    background-image: linear-gradient(to right, rgb(162, 81, 243), rgb(201, 131, 184));
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 300%;
    font-family: 'Merriweather',
        serif;
}

.inp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 30%;


}

input {
    margin: 10px;

}

.btn {}

h3 {
    font-family: 'Merriweather',
        serif;
    font-size: 330%;
}

.whole {
    width: 100%;
    height: 100%;
    text-align: center;
}

.values {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    justify-content: space-evenly;
}

p {
    font-size: 250%;
    font-family: 'Josefin Sans',
        sans-serif;
}

.binr {
    display: flexbox;
    border-color: black;
    border-width: 50px;
}